<% layout('layout') -%>

<div class="container-fluid">
	<div class="row-fluid">
		<% include blogSideBar %>
		<div class="span8">
			This page will contain info about me and the projects i've worked on.
		</div>
	</div>
</div>