<% layout('layout') -%>

<div class="span4">
	<div class="well well-large">
		<form class="form-horizontal" id="postBlogForm">
			<div class="control-group">
				<label for="title">Title:</label>
				<div>
					<input type="text" name="title" id="title" placeholder="Title">
				</div>
			</div>
			<div class="control-group">
				<label for="subTitle">Sub Title:</label>
				<div>
					<input type="text" name="subTitle" id="subTitle" placeholder="Sub Title">
				</div>
			</div>
			<div class="control-group">
				<label for="tags">Tags:</label>
				<div>
					<input type="text" name="tags" id="tags" placeholder="Tags">
				</div>
			</div>
			<div class="control-group">
				<label for="body">Body:</label>
				<div>
					<textarea name="body" id="body" placeholder="Body" rows="3"></textarea>
				</div>
			</div> 
			<div class="control-group">
				<div>
					<button id="submitButtonId" type="submit" class="btn">Post Now</button>
				</div>
			</div>
		</form>
		<div id="error"></div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#submitButtonId").click(function() {
		if($('#title').val().length > 1 && $('#subTitle').val().length > 1 && $('#tags').val().length > 1 && $('#body').val().length > 1) {
			$.ajax({
				type: "POST",
				url: 'postBlogNow',
				data: $("#postBlogForm").serialize(),
				success: function(data) {
					if (data == "OK") {
						//post was made, go to homepage
						window.location = "/"
					}
				}
			});
		} else {
			document.getElementById("error").innerHTML="Fill out all fields!";
		};
		return false;
	});
});
</script>
