<div class="container-fluid">
	<div class="row-fluid">
		<% include blogSideBar %>
		<div class="span8">
			<div class="hero-unit">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="/img/homepageIMG.jpg">
					</a>
					<div class="media-body">
						<h1 class="media-heading">Simple Node Blog</h1>
						</br>
						<p>Welcome! Please read!</p>
					</div>
				</div>
			</div>
			<% if (blog) { %>
				<% var count = 0; %>
				<% maxDisplay = 9; if(blog.length == 0) {maxDisplay = 0}; if(blog.length > 0 && blog.length <= 9) {maxDisplay = blog.length} %>
				<% for(var i = 0; i < maxDisplay; i++) { %>
					<% var blogPost = blog[i]; %>
					<% if (count == 3) {count = 0} %>
					<% if (count == 0) { %> <div class="row-fluid"> <% } %>
					<div class="span4 well">
						<h2><%= blogPost.title %></h2>
						<p><%=: blogPost.body | truncate:250 %>...</p>
						<a class="btn" href="/blog/<%= blogPost.id %>"><span class="btn-label">View Post</span></a> 
					</div>
					<% if (count == 2) { %> </div> <div class="blogSpacer"></div><% } %>
					<% count += 1 %>
				<% } %>
			<% } %>
		</div>
	</div>
</div>
