/* styles for homepage blog tiles */
.container-fluid .row-fluid .span8 .row-fluid .span4 {
	background-color: #fefefe;
	min-height: 280px;
}
.container-fluid .row-fluid .span8 .row-fluid .span4 p{
	min-height: 175px;
}

/* styles for blog list dropdown */
.nav > li > span:hover {
	text-decoration: none;
	background-color: #EEE;
}
.nav > li > span {
	display: block;
}
.nav-list > li > span> a {
	text-decoration: none;
}
.nav-list > li > span{
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > span {
	padding: 3px 15px;
}

/* padding between divs */
.blogSpacer {
	margin-top: 40px;
}

/* display none */
.displayNone {
	display: none !important;
}

/* Single blog page */
.blogPost{
	margin: 5px;
}
.blogComment{
	width: 80%;
	margin-left: 25px;
	margin-right: 25px;
}
.commentRight{
	float: right;
}
.commentLeft{
	float: left;
}

/* bug - input/textarea extend outside of well */ 
input, textarea {
	max-width: 100%;
} 

/* About Me Page */
.sourceCode {
	float: right;
}
.sourceCode a{
	color: #555;
	font-size: 15px;
	text-decoration: underline;
}
.sourceCode a:hover{
	font-size: 22px;
}